
.container{
    .navbar{
        background: transparent;
        border: 0px;
        .navbar-header{
             img{
            width: 50px;
        }
        }
    }
    ul li{
        float: none;
    }
       .navbar-center{
           float: none;
           display: flex;
           justify-content: center;
       }
      .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
          color: red;
      }
      .navbar-collapse{
        padding: 10px 0;
      }
}
.container-fluid{
    margin: 0;
    padding: 0;
    color: white;
.background{
          background: url("../images/background.png");
          height: 250px;
          display: flex;
          align-items: center;
          h2{
              font-size: 36px;
    line-height: 48px;
        margin: 0 0 15px 0;
    letter-spacing: 1px;
                text-shadow: 6px 6px  rgba(0, 0, 0, 0.2);
          }
          p{
                  font-size: 16px;  
          }
       }
       background-color: #f43438;
}



@media only screen and (max-width: 767px) {
  .collapse, .navbar-collapse, .navbar-ex1-collapse, .nav, .navbar-nav, .navbar-center{
      width: 100%;
          ul li{
        border-bottom: 1px solid grey;
    }
  }

   .navbar-toggle{
       float: left;
       margin-top: 10px;
   }
        .navbar{
            .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
        background: transparent;
        border: 0px;
    }

.container{
    .navbar{
        .navbar-header{
            .navbar-brand{
    position: absolute;
    left:50%;
    transform: translateX(-50%);        
}
            img {
             width: 29px;
                }
            } 
        }
    }
    .container-fluid{
        .container{
            margin: 0px;
        }        
    } 
 
}



